// Place all the styles related to the options controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.options {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10%;
  text-shadow: 2px 2px #999;
}
